---
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '../../lib/utilities/formatDate';
import ArticleImage from './article-image.astro';

interface Props {
  post: CollectionEntry<'post'>;
  top: number;
  bottom: number;
}
---

<header
  class="sticky"
  style={{
    top: `calc(${Astro.props.top * 1.4}rem - var(--sticky-offset,0px) + 4rem)`,
    bottom: `calc(${Astro.props.bottom * 1.4}rem + var(--sticky-offset,0px) - 4rem)`,
  }}>
  <div
    class="absolute left-8 top-4 z-50 flex h-4 items-center justify-end gap-x-2 lg:left-[unset] lg:right-full w-max opacity-65 text-xs">
    <a
      class="inline-flex"
      href={`#${Astro.props.post.slug}`}>
      <time
        datetime={Astro.props.post.data.date.toISOString()}
        class="text-sky-300 block">
        {
          formatDate(Astro.props.post.data.date, {
            month: 'short',
            day: 'numeric',
          })
        }
      </time>
    </a>
    <div class="h-[0.0625rem] w-2 bg-sky-300 xl:bg-sky-200 hidden lg:block">
    </div>
  </div>
</header>
<article
  id={`${Astro.props.post.slug}`}
  class="scroll-mt-16 max-lg:mx-auto w-full max-w-prose">
  <div>
    <div class="max-w-7xl px-6 lg:flex lg:px-8">
      <div class="lg:flex lg:w-full lg:justify-end w-full">
        <div
          class="mx-auto max-w-lg lg:mx-0 lg:max-w-xl lg:flex-auto prose dark:prose-invert flex flex-col w-full">
          {Astro.props.post.data.image && <ArticleImage
            src={Astro.props.post.data.image.src}
            alt=""
          />}
          <h2 class="mt-0">
            <a
              href={`/posts/${Astro.props.post.slug}`}
              >{Astro.props.post.data.title}</a
            >
          </h2>
          <p>{Astro.props.post.data.description}</p>
        </div>
      </div>
    </div>
  </div>
</article>
